/*glowne*/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;

}

#container{
    margin-top: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
/*menu*/
.menu{
    height: 80px;
    background: #2C2C2C;

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
    transition: all 0.4s ease-out;


}
.menua{display: block;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 900;
    font-size: 14px;
    font-family: 'Playfair Display', serif;


}
.menua a{
    color: #fff;
    text-transform: uppercase;
    padding: 30px 15px;
    -webkit-transition: .3s;
    transition: .3s;
    text-decoration: none;
    display: block;
    font-weight: 900;
    font-size: 14px;
}
.menub{
    display: block;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 900;
    font-size: 14px;
    margin-top: 25px;
    font-family: 'Playfair Display', serif;

}
.menub li {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 30px 15px;
    -webkit-transition: .3s;
    transition: .3s;
    font-weight: 600;
    text-decoration: none;
}
.btnq{
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 30px 15px;
    -webkit-transition: .3s;
    transition: .3s;
    font-weight: 600;
    height: 50px;

}
.pbtn:hover{
   background-color: white;
    color: black;
}
/*menustop*/

/*akt1*/
.akt{
    background-color: #f1f1f1;
    padding-bottom: 30px;
    padding-top: 70px;
    margin-top: 40px;
}
img{
    width: 100%;


}
.imgg{
    margin-bottom: 20px;
}
.glyphicon{
    color: black;
}
.social ul {
    list-style: none;
    color: #fff;
    margin-top: 20px;
}
.social ul li{
    display: inline;
    list-style: none;
    letter-spacing: 15px;
    font-size: 25px;


}
p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
    font-family: 'Playfair Display', serif;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}
.pbtn{
    display: inline-block;
    background: #2C2C2C;
    color: #f1f1f1;
    padding: 10px 16px;
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 15px;
    letter-spacing: 5px;
    border: 1px solid #2C2C2C;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    height: 45px;

}
.profesional{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 40px;
    letter-spacing: 5px;
}
.prodesional{
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 30px;
    margin-top: 10px;
}
.margin{
    margin-top: 100px;
}
/*akt1stop*/
/*akt2*/
.akt2{
    padding: 70px 0;

}
.offers{
    margin-top: 50px;
    width: 40px;
    height: 41px;
}



/*akt2stop*/
/*akt3*/
.akt3{
    background-color: #f1f1f1;
    padding: 100px 0;
}

ul.work li.active {
    border: none;
    color: #000;
}
ul.work li {
    display: inline-block;
    padding: 8px 12px;
    margin: 0 8px;
    text-transform: uppercase;
    font-weight: 400;
    color: #333;
    border: none;
    cursor: pointer;
    font-size: 12px;
}
.educationtitle{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 40px;
}
.minititle{
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 40px;

}
.date{
    font-size: 12px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
}
.lnr{
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-size: 40px;

}
.fa{
    color: black;
}
.education{
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    float: left;
    font-size: 40px;
    margin-bottom: 80px;
    margin-right: 30px;
}
/*akt3stop*/
/*akt4*/
.akt4{
    padding: 100px 0;
}
.photos {
    display: inline-block;
    padding: 0;
    margin: 0;

}
/*akt4stop*/
/*akt5*/
.akt5{
    background-color: #f1f1f1;
    text-align: center;
    padding: 100px 0;

}

/*akt5stop*/
/*akt6*/
.akt6{
    padding: 100px 0;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    height: 250px;
    margin-bottom: 60px;

    /*width: 1110px;*/


}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
    color: black;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 250px;
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    border-radius: 50%;
    margin-left: 555px;
}
/*akt6stop*/
/*akt7*/
.akt7{
    background-color: #f1f1f1;
    padding: 100px 0;
}
/*akt7stop*/
/*akt8*/
.akt8{
    padding: 100px 0;
}

.contact-form {
    margin-top: 20px;
}
.contact{
    margin-top: 20px;
}

.form-control {
    display: block;
    border: 0;
    width: 100%;
    height: 45px;
    padding: 5px 0;
    font-size: 16px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    margin-bottom: 25px;
}

.form-control:focus {
    border-color: #000;
    outline: 0;
    box-shadow: none;
}

.contact-form button {
    display: inline-block;
    background: #2C2C2C;
    color: #f1f1f1;
    padding: 10px 16px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 5px;
    border: 1px solid #2C2C2C;
    font-weight: 700;
    -webkit-transition: .3s;
    transition: .3s;
}

.contact-form button:hover {
    color: #2C2C2C;
    border: 1px solid #2C2C2C;
    background: none;
    -webkit-transition: .3s;
    transition: .3s;
}

/*akt8stop*/
/*footer*/

.footers{
    background: #2C2C2C;
    padding: 50px 0;
    color: #f1f1f1;
}
#resume{

}




/*preloader*/

.preloader {
    background: #fff;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}
.status-mes {
    width: 55px;
    height: 55px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -26px 0 0 -26px;
    font-size: 10px;
    text-indent: -12345px;
    border-top: 5px solid rgba(0, 0, 0, 0.08);
    border-right: 5px solid rgba(0, 0, 0, 0.08);
    border-bottom: 5px solid rgba(0, 0, 0, 0.08);
    border-left: 5px solid #000;
    border-radius: 50%;
    -webkit-animation: spinner 700ms infinite linear;
    animation: spinner 700ms infinite linear;
    z-index: 10000;
}

@-webkit-keyframes fadeIn {

    0% {
        -webkit-transform: translateX(-250px);
    }
    100% {
        -webkit-transform: translateX(0px);
    } }
@-moz-keyframes fadeIn { 0% {
    -webkit-transform: translateX(-250px);
}
    100% {
        -webkit-transform: translateX(0px);
    } }
@keyframes fadeIn {

    0% {
        -webkit-transform: translateX(-250px);
    }
    100% {
        -webkit-transform: translateX(0px);
    }
}

.fade-in {
    transform: translateX(-250px);  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:0.3s;
    -moz-animation-duration:0.3s;
    animation-duration:0.3s;
}
